name: CI Pipeline Docker Hub

on:
  workflow_call: 

jobs:

  docker:
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v6 

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v3.12.0
      
    - name: Docker Login  
      uses: docker/login-action@v3.7.0
      with:                
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.19.2
      with:
        context: .
        file: ./Dockerfile
        push: true    
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/ci-alura-go-ecs:${{ github.sha }}
          ${{ secrets.DOCKER_USERNAME }}/ci-alura-go-ecs:latest
    
      
            
                 
